{%extends "navigator.html"%}
{%block content%}

<div class="jumbotron">
<br/>
  <h3 class="display-4:" >Sve ovde što ima da se radi radimo Nada i ja.</h3>
  <br/>
   	
	<p class="lead">U vezi sa tim što ovde ima da se radi Momčilo se smislio sledeće:</p>
    <div class = "container" style = "padding: 10px 100px 19px 50px;">
	<p class="lead">Jesam ateista ali nisam bez vere.</p>
    <p class="lead">Vinova loza je moja vera.</p>
    <p class="lead">Vinograd je moj hram. </p>
    <p class="lead">Radovi u njemu su moji obredi. </p>
    <p class="lead">Moja vina su moje molitve!</p>
	</div>
</div>
<br/>
{%endblock%}


 