{%extends "navigator.html"%}
{%block content%}
        
<div class="jumbotron">
<br/>
  <h3 class="display-4:">Janda je ostrvo u Dunavu </h3>
  <br/><br/>
  <p class="lead"> i predeo između Krčedina i Slankamena. Vinograd je u ataru Slankamena, gleda na sever i Dunav.</p>
   <p class="lead">Ima ima 312 čokota sa desetak stonih i četiri vinske sorte.</p>
   <p class="lead">Pravimo 100 - 150 litara vina godišnje, taman za nas dvoje i za nešto malo preostalih prijatelja i poznanika. </p>
   <p class="lead"> </p>
  <p class="lead"> </p>
</div>
{%endblock%}