
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="/static/css/carousel.css" rel="stylesheet"> 

<body>
 <div class="container">
        <h1 class="display-4">Vinograd Janda</h1>

<nav class="navbar navbar-light navbar-expand-xl" style="background-color: #e3f2fd;">


  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">O Jandi <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">O nama</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          O vinogradu
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			<li> <a class="dropdown-item" href="{{ url_for('lic') }}">Lokacije i čokoti</a> </li>
			<li> <a class="dropdown-item" href="{{ url_for('lis') }}">Vinske sorte po broju čokota</a> </li>
			<li> <a class="dropdown-item" href="{{ url_for('lil') }}">Lokacije za novu sadnju</a> </li>
			<div class="dropdown-divider"></div>
			<li> <a class="dropdown-item" href="{{ url_for('lib') }}">Berbe</a> </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          O vinu
        </a>
        <ul class="dropdown-menu">
		  <li> <a class="dropdown-item" href="{{ url_for('lir') }}">Italijanski rizling</a> </li>
		  <li> <a class="dropdown-item" href="{{ url_for('lim') }}">Muskat otonel</a> </li>
		  <li> <a class="dropdown-item" href="{{ url_for('lip') }}">Prokuopac</a> </li>
          <div class="dropdown-divider"></div>
          <li> <a class="dropdown-item" href="{{ url_for('lik') }}">Kaberne</a> </li>
        </ul>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Karusel</a>
      </li>
	
	
	
	
	</ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

 <div class="container">
 {%block content%}
 {%endblock%}

</div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
